@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #d9f1fd;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Graduate", cursive;
}
.st0 {
fill:#F1FAFE;
}

.st1 {
fill:#E62F25;
}

.st2 {
fill:#EDB0A4;
}

.st3 {
fill:#2CBCEE;
}

.st4 {
  fill:#FFFFFF;
  }

.st5 {
fill:#F15623;
}

.st6 {
fill:#5E2E21;
}

.st7 {
  fill:#4167B1;
}

.st8 {
  fill:#4167B1;
  stroke:#4167B1;
  stroke-width:2;
  stroke-miterlimit:10;
}

.st9 {
  fill:#FFFFFF;
  stroke:#2CBCEE;
  stroke-width:3;
  stroke-miterlimit:10;
}

.st10 {
  fill:none;
}

.st11 {
  font-family: OctinSportsRg-Regular;
}

.st12 {
  font-size:19.691px;
}

.st13 {
  fill:#1D2554;
}

.st14 {
  font-family: HelveticaLTStd-Light;
}

.st15 {
  font-size:12.4365px;
}

.st16 {
  fill:#8A5143;
}

.st17 {
  fill:#CC2036;
  stroke:#CC2036;
  stroke-miterlimit:10;
  stroke-dasharray:1,1;
}

.st18 {
  fill:#CC2036;
  stroke:#4167B1;
  stroke-miterlimit:10;
}

h1 {
  font-size: 4em;
  color: #f15623;
  text-align: center;
}

h2 {
  text-align: center;
  color: #2cbcee;
}

.masthead {
  margin: 1rem 0 1rem 0;
}

hr {
  height: 12px;
  background-color: #4167b1;
  border: 0;
}

.unit {
  padding-top: 10px;
  padding-bottom: 20px;
}

.wide {
  padding-left: 10px;
  padding-right: 10px;
}

.bubble {
  margin-bottom: 2em;
}

.grid {
  position: relative;
}

.prevent-1 {
  position: absolute;
  bottom: 53px;
  left: 50%;
  display: none;
}

.prevent-2 {
  position: absolute;
  bottom: 53px;
  left: 50%;
  display: none;
}

.prevent-3 {
  position: absolute;
  bottom: 53px;
  left: 50%;
  display: none;
}

.prevent-4 {
  position: absolute;
  bottom: 53px;
  left: 50%;
  display: none;
}

.prevent-5 {
  position: absolute;
  bottom: 53px;
  left: 50%;
  display: none;
}

.prevent-6 {
  position: absolute;
  bottom: 53px;
  left: 50%;
  display: none;
}

.large {
  display: none;
}

.whistle:hover .prevent-1 {
  display: inherit;
}

@media only screen and (min-width: 650px) {

  .mobile {
    display: none;
  }

  .large {
    display: block;
  }

}
